
.banner {
    background-size: cover;   
    background-image: url("../../assets/images/background.png");
    height: 90vh;
}

.box {
    flex-direction: column;
    background-color: #161616;
    top: 0;
    width: 100%;
    font-size: 180%;
    color: azure;
    position: absolute;
    
}

.banner-btn {
    color: #fff; /* цвет текста */
    user-select: none; /* убирать выделение текста */
    background: #fd1715; /* фон кнопки */
    padding: 10px 205px; /* отступ от текста */
    border: none;
    border-radius: 24px;
    font-weight: 700;
    font-size: 0.9rem;
    margin-top: 70vh;
    margin-right: 500px;
    cursor: pointer;
  }
.banner-btn:hover { background: #fd4643; } /* при наведении курсора мышки */
.banner-btn:active { background: #fd1715; } /* при нажатии */

.hr-line {
	margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
    width: 80vw;

}

h1 {
    font-weight: 700;
    font-size: 30px;
    text-align: start;
    margin-left: 10vw;
    color: white;
}


.expanded {
    max-height: 500px; /* Максимальная высота текста при развернутом состоянии */
    overflow: hidden; /* Скрытие избыточного содержимого */
    transition: max-height 0.5s ease; /* Плавное изменение высоты */
}

.collapsed {
    max-height: 0; /* Минимальная высота текста при свернутом состоянии */
    overflow: hidden; /* Скрытие избыточного содержимого */
    transition: max-height 0.5s ease; /* Плавное изменение высоты */
}

h3 {
    white-space: pre-line;
}


a {
    color: azure;
    text-decoration: none;
}

/* Желтый цвет для первого титула */
.subTitle0 {
    color: #ffeeaa;

}

/* Голубой цвет для второго титула */
.subTitle1 {
    color: #c7c7f1;
}

/* Зеленый цвет для третьего титула */
.subTitle2 {
    color: #c3f2cb;
}

/* Розовый цвет для четвертого титула */
.subTitle3 {
    color: #c8edfd;
}
.steps {
    display: flex;
    justify-content: center;
    margin-left: 20vw;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.step:not(:last-child) {
    border-right: 2px solid black; /* Линия для разделения блоков */
}
