.notification-panel {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  background-color: #282c34;
  /*padding: 5px 35px;*/
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.personal-area-progress__title{
  display: flex;
  justify-content: left;
  color: white;
  /*padding: 32px;*/
  height: 12vh;
}

/*.notification-panel h1 {*/
/*  margin-bottom: 30px;*/
/*}*/

.notification-panel ul {
  list-style: none;
  padding: 0 32px;
}

.notification-panel li {
  margin-bottom: 20px;
  padding: 3px 20px;
  background-color: #161616;
  border-radius: 20px;
}
