.sidebar {
  display: flex;
  flex-direction: column;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 16%;
  height: 100%;
  background-color: #323232;
  padding: 5px 35px;
}

.header {
  height: auto;
  margin-top: 7%;
  padding-left: 10%;
}

.body {
  padding-right: 10%;
  height: 100%;
  margin-top: 5%;
}

.footer {
  height: auto;
  margin-bottom: 7%;
}
