/* все что ниже можно удалить */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* базовый UI прописываем здесь, желательно оставлять комментарии чтобы было легче другим ориентироваться в вашем коде */

header{
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.strelka {
  color: azure;
  display: flex;
  margin-left: 40px;

}
.hrefki{
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  color: azure;
  text-decoration: none;
}
.hrefki:hover{
  color: #c3f2cb;
  text-decoration: none;
}
li{
  display: inline;
}
header img {
  margin-right: 20px;
}





.container {
  display: flex;
}


.column {
  flex: 1;
  margin: 10px;
  padding: 10px;
  display: flex; /* Делает внутренние элементы flex-контейнерами */
  flex-direction: column; /* Устанавливает направление элементов в столбце */
}

.column p {
  margin: 5px 0; /* Добавляет небольшой вертикальный отступ между элементами */
}
.red_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  width: 200px; /* Установить ширину кнопки */
  height: 30px;
  border-radius: 60px; /* Это свойство делает кнопку овальной */
  text-align: center;
  float: none;
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 26px; /* Задаем размер текста */
  line-height: 26px;
  font-weight: bold;
  margin-right: 60px;
  margin-left: auto;


}

.red_button:hover {
  background-color: darkred;
  color: white;



  /* Изменение цвета кнопки при наведении курсора */
}

.red_button:focus {
  outline: none; /* Убирает фокусовую рамку при нажатии на кнопку */
}




header p{
  color: azure;
  margin-right: 20px;
  font-size: 22px;

}



.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* делаем круглую форму */
  overflow: hidden;
  display: inline-block;
  margin-right: 60px;
  margin-left: auto;
  /* обрезаем изображение по форме круга */
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* изображение будет заполнять весь круг */
}

















footer{

  background: #282828;
}




.link-container {
  display: flex;
  margin-right: 100px;
  font-size: 140%;
  align-items: center;
  justify-content: flex-end; /* Размещение в правой части */
}

.link-block {

  margin-left: 40px; /* Добавляем отступ между блоками */


}

.link-block a {
  color: azure;


  display: block; /* Располагаем ссылки в столбец */
  margin-bottom: 5px; /* Добавляем отступ между ссылками */
  text-decoration: none;
}
.link-block a:hover{

    color: #c3f2cb;
    text-decoration: none;

}